# Ignore the dataset folder
License-Plate-Recognition-11/
# Ignore the runs folder
runs/

# ignore any file that starts with yolo
yolo*

# ignore any . files
.DS_Store

# in the testfile folder, ignore any file (especially .mp4 files cause they are to big) that starts with demo
testfile/demo*
